html, body {
    height: 100%; padding: 0; margin: 0; 
}
div { 
    width: 50%; height: 50%; float: left; 
}
#firstOne { 
    background: #2ebdcd; 
}
#secondOne { 
    background: white; 
}
#thirdOne { 
    background: #c9d7d8; 
}
#fourthOne { 
    background: #444; 
}